@using InvestAdvisor.Model
@model ProjectModel

@{
    if (Model.Additional == null)
    {
        Model.Additional = new ProjectAdditionalModel();
    }
}
<div class="card text-center">
    <div class="card-body">
        <img src="@Model.Url" class="img-circle border" width="150" />
        <h4 class="card-title m-t-10">@Model.Name</h4>
        <h6 class="card-subtitle">@Model.Description</h6>
        @if (!string.IsNullOrEmpty(Model.Additional.Marketing))
        {
            <p>Доходность: @Model.Additional.Marketing</p>
        }
        @if (!string.IsNullOrEmpty(Model.Additional.Referral))
        {
            <p>Доходность: @Model.Additional.Referral</p>
        }

        <button href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-info btn-md btn-rounded">Подробнее</button>
    </div>
</div>
