@using InvestAdvisor.Model.ViewModels.Enums
@using System.Globalization
@model InvestAdvisor.Model.ViewModels.ProjectViewModel

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">@Model.Project.Name</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb m-b-10">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Главная</a></li>
            <li class="breadcrumb-item">
                @if (Model.ActiveSubMenuItem == MenuItem.ProjectsActive)
                {
                    <a href="@Url.Action("", "Projects")">Активные проекты</a>
                }
                else
                {
                    <a href="@Url.Action("","Projects", new { @isActive = false})">Закрытые проекты</a>
                }
            </li>
        </ol>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
            @Html.Partial("ProjectListItem", Model.Project)
        </div>
        <div class="col-lg-7 col-md-7">
            <div class="card">
                <div class="card-body p-b-0">
                    <ul class="nav nav-tabs customtab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#review" role="tab" aria-expanded="false"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Обзор</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile7" role="tab" aria-expanded="true"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Комментарии</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages7" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Тех. инфо</span></a> </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane p-20 active" id="review" role="tabpanel" aria-expanded="true">
                            <p>@Html.Raw(Model.Project.Review.Review)</p>
                        </div>
                        <div class="tab-pane p-20" id="profile7" role="tabpanel" aria-expanded="false">
                            @if (Model.Project.Comments != null)
                            {
                                <div class="comment-widgets m-b-20">
                                    @for (var i = 0; i < Model.Project.Comments.Count; i++)
                                    {
                                        <div class="d-flex flex-row comment-row">
                                            <div class="p-2"><span class="round"><img src="../assets/images/users/1.jpg" alt="user" width="50"></span></div>
                                            <div class="comment-text w-100">
                                                <h5>@Model.Project.Comments[i].UserName</h5>
                                                <div class="comment-footer">
                                                    <span class="date">@Model.Project.Comments[i].CreatedAt.ToString("dd MMMM, yyyy", new CultureInfo("ru-RU"))</span>
                                                </div>
                                                <p class="m-b-5 m-t-10">@Model.Project.Comments[i].Message</p>
                                            </div>
                                        </div>
                                    }
                                    >
                                </div>
                            }
                            <div class="p-20 border">
                                <h5 class="text-primary">Новый комментарий</h5>
                                @using (Html.BeginForm("AddComment", "Project", FormMethod.Post, new { @class = "m-t-40", enctype = "multipart/form-data", @novalidate = "" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <input type="hidden" name="ProjectId" value="@Model.Project.ProjectId" />

                                    <div class="form-group">
                                        <h5>Имя <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" name="UserName" class="form-control" required="" data-validation-required-message="Обязательное поле">
                                            <div class="help-block"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h5>Email<span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" name="Email" class="form-control" data-validation-required-message="Обязательное поле" data-validation-regex-regex="([a-z0-9_\.-]+)@@([\da-z\.-]+)\.([a-z\.]{2,6})" data-validation-regex-message="Введите верный email" aria-invalid="false" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h5>Сообщение <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <textarea name="Message" id="textarea" class="form-control" required="" data-validation-required-message="Обязательное поле" aria-invalid="false" rows="5"></textarea>
                                            <div class="help-block"></div>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <button type="submit" class="btn waves-effect waves-light btn-outline-info">Сохранить</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-pane p-20" id="messages7" role="tabpanel">3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/validation.js"></script>
    <script>
        ! function (window, document, $) {
            "use strict";
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
        }(window, document, jQuery);

         

         
    </script>
}