@using InvestAdvisor.Common.Enums
@using InvestAdvisor.Model
@model ProjectModel

@{
    var logoImage = Model.Images.FirstOrDefault(i => i.ImageType == ImageType.Logo);
}

<div class="card text-center">
    <div class="card-body">
        @*@if (Model.InPortofolio)
            {
                <div class="ribbon ribbon-bookmark ribbon-vertical-r ribbon-info" data-toggle="tooltip">
                    <i class="mdi mdi-briefcase-check"></i>
                </div>
            }*@
        @if (logoImage != null)
        {
            <img src="data:image;base64,@Convert.ToBase64String(logoImage.Content)" class="img-circle border" width="150" />
        }
        <h4 class="card-title m-t-10">@Model.Name</h4>
        @if (Model.IsActive)
        {
            <h6 class="card-subtitle"><a href="@Model.Url">@Model.Address</a></h6>
        }
        <p>Легенда: @Model.Description</p>
        @if (!string.IsNullOrEmpty(Model.Additional.StartDateView))
        {
            <p>Старт работы: @Model.Additional.StartDateView</p>
        }
        @if (!string.IsNullOrEmpty(Model.Additional.Marketing))
        {
            <p>Доходность: @Model.Additional.Marketing</p>
        }
        @if (!string.IsNullOrEmpty(Model.Additional.Referral))
        {
            <p>Партнерская программа: @Model.Additional.Referral</p>
        }
        @if (ViewBag.IsList == null || ViewBag.IsList)
        {
            <a href="/Project/Details/@Model.RouteName" class="m-t-10 waves-effect waves-light btn btn-info btn-md btn-rounded">Подробнее</a>
        }
        else
        {
            if (Model.PaymentSystems != null && Model.PaymentSystems.Count > 0)
            {
                <div>
                    Платежные системы:
                    <ul>
                        @foreach (var paymentSystem in Model.PaymentSystems)
                        {
                            var logo = paymentSystem.Images.FirstOrDefault(i => i.ImageType == ImageType.Icon);
                            if (logo != null)
                            {
                                <li style="list-style-type: none; display: inline">
                                    <a href="@paymentSystem.Url">
                                        <img alt="@paymentSystem.ShortName" src="data:image;base64,@Convert.ToBase64String(logo.Content)" class="img-circle border" width="30"  data-toggle="tooltip" data-placement="top" title="" data-original-title="@paymentSystem.Name"/>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            }
            if (Model.IsActive)
            {
                <a href="@Model.Url" class="m-t-10 waves-effect waves-light btn btn-info btn-md btn-rounded">Регистрация в проекте</a>
            }
        }
    </div>
</div>